<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="categorias">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Categorias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sugestoes">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Sugestões</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="eventos">
      <ion-icon name="send"></ion-icon>
      <ion-label>Eventos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mapa">
      <ion-icon name="map"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
